
<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Studies Plus a Education School Category Flat Bootstrap Responsive Web Template | About :: w3layouts</title>
<!--css-->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--css-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Studies Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--js-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/numscroller-1.0.js"></script>
<!--js-->
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--webfonts-->
</head>
<body>
	<!--header-->
		<div class="header">
				<div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
				<!---Brand and toggle get grouped for better mobile display--->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>				  
							<div class="navbar-brand">
								<h1><a href="index.html">Studies <span>Plus</span></a></h1>
							</div>
						</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<nav class="link-effect-2" id="link-effect-2">
								<ul class="nav navbar-nav">
									<li><a href="index.html"><span data-hover="Home">Home</span></a></li>
									<li class="active"><a href="about.html"><span data-hover="About">About</span></a></li>
									<li><a href="services.html"><span data-hover="Services">Services</span></a></li>
									<li><a href="projects.html"><span data-hover="Projects">Projects</span></a></li>	
									<li><a href="courses.html"><span data-hover="Courses">Courses</span></a></li>
									<li><a href="codes.html"><span data-hover="Codes">Codes</span></a></li>
									<li><a href="contact.html"><span data-hover="Contact">Contact</span></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</nav>
			</div>
		</div>
	<!--header-->
		<div class="banner-w3agile">
			<div class="container">
				<h3><a href="index.html">Home</a> / <span>About</span></h3>
			</div>
		</div>
		<!--content-->
		<div class="content">
			<!--about-->
			<div class="about-w3">
				<div class="container">
					<h2 class="tittle">About Us</h2>
					<div class="about-grids">
						<div class="col-md-6 about-grid">
						 <h4>At a Glance</h4>
							 <p>The International Institute of Information Technology, Hyderabad (IIIT Hyderabad) is an Information technology research university based in Hyderabad, Telangana, India. It was the first autonomous private institute of its kind to be established in 1997. IIIT Hyderabad is one of the top Computer Science institutes of the country. It emphasizes research from the undergraduate level.The institute runs Computer Science courses and research projects and is focused on research. It gives the students interaction with industry, preparation in entrepreneurship and personality development courses.</p>
							<ul class="grid-part">
								<li><i class="glyphicon glyphicon-ok-sign"> </i>Praesent vestibulum molestie lacus</li>
								<li><i class="glyphicon glyphicon-ok-sign"> </i>Donec sagittis interdum tellusplacerat adipiscing</li>
								<li><i class="glyphicon glyphicon-ok-sign"> </i>Nulla consectetur adipiscing</li>
							</ul>
						 </div>
						<div class="col-md-6 video-grid">
							<iframe src="https://player.vimeo.com/video/78554725?color=741731&title=0&byline=0&portrait=0" frameborder="0"  allowfullscreen></iframe>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!--about-->
			<!--What we do-->
				<div class="what-w3">
					<div class="container">
						<h3 class="tittle">What we do</h3>
						<div class="what-grids">
							<div class="col-md-6 what-grid">
								<div class="mask">
									<img src="images/iithyderabad_driverless_car.jpg" class="img-responsive zoom-img" />
								</div>
								<div class="what-bottom">
									<h4>Research</h4>
									<p>IIIT-H was set up as a research university focused on the core areas of Information Technology, such as Computer Science, Electronics and Communications, and their applications in other domains. The institute evolved strong research programmes in a host of areas, with computation or IT providing the connecting thread, and with an emphasis on the development of technology and applications, which can be transferred for use to industry and society. This required carrying out basic research that can be used to solve real life problems. As a result, a synergistic relationship has come to exist at the Institute between basic and applied research. Faculty carries out a number of academic industrial projects, and a few companies have been incubated based on the research done at the Institute</p>
								</div>
							</div>
							<div class="col-md-6 what-grid">
								<div class="what-bottom1">
									<h4>Programmes and Opportunities</h4>
                                    <p>The Institute combines pioneering research with top class education. An innovative curriculum allows the student flexibility in selecting courses and projects. Students, even at the undergraduate level, get to participate in ongoing research and technology development - an opportunity unprecedented in India. As a result, a vibrant undergraduate programme co-exists with a strong postgraduate programme.</p>
                                    <p>Recognizing that the goal of education is to develop a broad and humanistic outlook among students (and beyond), the Institute runs a unique human values programme at the undergraduate level. Regular faculty conducts the programme. Also, elements of the programme are made available to IIIT-H’s postgraduate students, faculty and students at other universities and colleges, and any interested individual or organization.</p>
								</div>
								<div class="mask">
									<img src="images/opportunity.jpg" class="img-responsive zoom-img" />
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			<!--What we do-->
			<!--statistics--->
						<div class="statistics-w3">
							<div class="container">
								<h3 class="tittle">Fun Facts</h3>
								<div class="statistics-grids">
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
                                            <h5>Accredation</h5>
                                            <h5>Grade A</h5>
											<p>Accredited at Grade A by National Assessment & Accreditation Council (NAAC)</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h5>Placements</h5>
											<h5>Happy Students</h5>
											<p>Ranked in the top 5 overall and #1 in campus placement, including the IITs</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h5>Ranking</h5>
											<h5>In Top 6</h5>
											<p>Ranked top 6 among Universities in South Asia, in terms of research papers.</p>
										</div>
									</div>
									<div class="col-md-3 statistics-grid">
										<div class="statistic">
											<h5>Awards</h5>
											<h5>Codechef</h5>
											<p>At least five of the top 20 winners at the Codechef’s programming contests.</p>
										</div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					<!--statistics--->
				</div>
		<!--content-->
		<!--footer-->
			<div class="footer-w3">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-4 footer-grid">
							<h4>About Us</h4>
							<p><span>The International Institute of Information Technology, Hyderabad (IIIT-H) is an autonomous university founded in 1998. It was set up as a not-for-profit public private partnership (N-PPP) and is the first IIIT to be set up under this model in India. A Governing Council consisting of eminent people from academia, industry and government presides over the governance of the institution.</span></p>
						</div>
						<div class="col-md-4 footer-grid">
						<h4>Instagram Posts</h4>
							<div class="footer-grid1">
								<img src="images/college.jpg" alt=" " class="img-responsive">
							</div>
							<div class="footer-grid1">
								<img src="images/obh-thumb.jpg" alt=" " class="img-responsive">
							</div>
							<div class="footer-grid1">
								<img src="images/interaction-thumb.jpg" alt=" " class="img-responsive">
							</div>
							<div class="footer-grid1">
								<img src="images/lecture-thumb.jpg" alt=" " class="img-responsive">
							</div>
							<div class="footer-grid1">
								<img src="images/c3.jpg" alt=" " class="img-responsive">
							</div>
							<div class="footer-grid1">
								<img src="images/banyan-tree-thumb.jpg" alt=" " class="img-responsive">
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-4 footer-grid">
						<h4>Information</h4>
							<ul>
								<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Gachibowli, Hyderabad 500 032, India</li>
								<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+91-40-6653 1000</li>
								<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto: alumni_relations@iiith.edu"> alumni_relations@iiith.edu</a></li>
								<li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Mon-Sat 09:00 am to 16:00 pm</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!--footer-->
		<!---copy--->
				<div class="copy-section">
				<div class="container">
					<div class="social-icons">
						<a href="https://www.facebook.com/pages/International-Institute-of-Information-Technology-Hyderabad/103767139662322?rf=159756897414001"><i class="icon1"></i></a>
						<a href="https://plus.google.com/+IIITHHyderabad"><i class="icon3"></i></a>
						<a href="https://www.linkedin.com/groups/61903/profile"><i class="icon4"></i></a>
					</div>
                </div>
			</div>
			<!---copy--->


				
</body>
</html>
